
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/article.css" />
    <script src="static/js/article.js"></script>
</head>
<body>
    
<div id="myDiv"></div>
    <div id="vi">
        <div id="tt">
            __学习一时爽<br />
            一直学习一直爽
        </div>
    </div>

    <div id="nav">
        <ul>
            <li><a href="index.html" target="_self">首页</a></li>
            <li><a class="bar">|</a></li>
            <li><a href="article.html" target="_self">日记</a></li>
            <li><a class="bar">|</a></li>
            <li><a href="photo.html" target="_self">图片</a></li>
            <li><a class="bar">|</a></li>
            <li><a href="message.html" target="_self">留言</a></li>
        </ul>
    </div>
    <div id="main">
        <div id="right">
            <!-- <在这里插入数据> -->
            <h1>{{s}}</h1>
            <a href="nextMessage.html">下一页</a>
        </div>
    </div>
    <div id="bt">小站不易，有学习交流请和站长联系<br />
        <span id="sysmsg"></span>
    </div>
    <div id="content">
        <h5 id="content_h5"></h5>
        <span class="date" id="content_span"></span>
        <br />
        <p id="content_p"></p>
        <button onclick="closeContent(this)">关闭窗口</button>
    </div>

</body>
</html>